<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Surviving the Titanic!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Surviving the Titanic!</h1>
      <p class="lead">Learn more about the chances of survival for passengers aboard the Titanic.</p>
      <hr class="my-4">
      <img src="https://media.nationalgeographic.org/assets/photos/000/273/27302_c0-111-990-630_r1200x630.jpg?a75d280e6b7413d62116e974d70c4919ae58153e" alt="..." class="img-thumbnail">
    </div>
  </div>
  <div class="container">
    <div class="col">
        <h3 class="text-center">Available Links</h3>
        <ul class="list-group">
          <li class="list-group-item d-flex align-items-center">
            <strong>Passenger Roster:  </strong> /api/v1.0/dataset
          </li>
          <li class="list-group-item d-flex align-items-center">
            <strong>Random Forest Classifier Scores:  </strong> /api/v1.0/survival
          </li>
          <li class="list-group-item d-flex align-items-center">
            <strong>Charts and Visualizations:  </strong> /api/v1.0/graphs
          </li>
        </ul>
    </div>
  </div>

</body>

</html>
